# Lab 3 Data Basics
Selection


Installations
- Install Python 3
- Install Jupyter Notebooks
- Install modules you need, such as pandas (>pip3 install pandas) and numpy

In [3]:
# import modules you need
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

Saving WeatherData.csv to WeatherData (1).csv

# Part A: Introduction Data Frames
- Data Pipeline: 
     - read/create data frame
     - print first few rows
     - slice data (if needed)
     - write data frame to csv
     
- New Functions:
    - DataFrame
    - read_csv
    - head
    - shape
    - write_csv

## Read in weather data

In [28]:
# 1 read in WeatherData.csv from csv, make sure your csv file is in the same directory as the ipynb file
#         this makes it much easier to grade
import io
df = pd.read_csv('WeatherData.csv')

In [29]:
# 2 print first 5 rows of weather data
df.head()

       STATION  ... WT09_ATTRIBUTES
0  USW00013743  ...             NaN
1  USW00013743  ...             NaN
2  USW00013743  ...             NaN
3  USW00013743  ...             NaN
4  USW00013743  ...             NaN

[5 rows x 41 columns]

In [30]:
# 3 print column and row dimensions of the weather data
df.shape

(90, 41)

In [31]:
# 4 slice data - save only the date (DATE) and the amount of precipitation (PRCP) to a new dataframe
date_prcp = df[["DATE", "PRCP"]]

In [32]:
# 5 write dataframe to csv file names lab3a.csv
df.to_csv("lab3a.csv")

## Read in trip data

In [33]:
# 6 read in tripdata.csv, make sure your csv file is in the same directory as the ipynb file
#         this makes it much easier to grade.
import io
dft = pd.read_csv('TripData.csv')

In [34]:
# 7 print last 7 rows of trip data
dft.tail(7)

      Duration       Start date  ... Bike number  Member Type
6076    366854  3/30/2017 18:18  ...      W23162   Registered
6077    983585  3/30/2017 18:18  ...      W22827   Registered
6078    225742  3/30/2017 18:18  ...      W00697   Registered
6079    425340  3/30/2017 18:18  ...      W21000   Registered
6080    337433  3/30/2017 18:18  ...      W23220   Registered
6081    485312  3/30/2017 18:18  ...      W20709   Registered
6082    488138  3/30/2017 18:18  ...         NaN          NaN

[7 rows x 9 columns]

In [35]:
# 8 print dimensions of trip data
dft.shape

(6083, 9)

In [36]:
# 9 slice data - save only the start date (Start date) and the duration (Duration) into a new dataframe
st_duration = dft[["Start date", "Duration"]]

In [37]:
# 10 write the dataframe to a new file lab3b.csv
dft.to_csv("lab3b.csv")

## Create day of the week data frame

In [38]:
# 11 create a dictionary to store day of the week data for each of the first 7 days of 2017
# dates should be from 2017-01-01 to 2017-01-07
# days of the week should correspond to each day. (Hint January 1, 2017 was a Sunday)
# the dictionary should be of the format:
# dict = {'colname1':['list','of','values','in','order'],'colname2':['list','of','values','same','order']}
dict = {'date1':['2017-01-01','2017-01-02','2017-01-03','2017-01-04','2017-01-05', '2017-01-06', '2017-01-07'],
        'dayofweek2':['Sunday','Monday','Tuesday','Wednesday','Thursday', 'Friday', 'Saturday']}

In [39]:
# 12 turn this dictionary into a data frame
dow = pd.DataFrame(dict)

In [40]:
# 13 print first 5 rows
dow.head()

        date1 dayofweek2
0  2017-01-01     Sunday
1  2017-01-02     Monday
2  2017-01-03    Tuesday
3  2017-01-04  Wednesday
4  2017-01-05   Thursday

In [41]:
# 14 print the dimensions/shape
dow.shape

(7, 2)

In [43]:
# 15 write this data to lab3c.csv and ensure to set the encoding to 'utf-8' and set the index paramter to 'False' 
#           in the call to create the csv file
dow.to_csv("lab3c.csv")

# Part B: Summarizing Data 
- Data Pipeline: 
     - count missing values per column
     - get frequency counts for key categorical variables
     - get descriptive statistics for numeric variables
     - calculate any other summary functions
     
- New Functions:
    - count
    - value_counts
    - describe
    - sum
    - mode

## Summarize weather data

In [44]:
# 16 From the weather dataframe from above, get a count of number of non-missing values for weather columns
df.count()

STATION            90
NAME               90
DATE               90
AWND               90
AWND_ATTRIBUTES    90
PRCP               90
PRCP_ATTRIBUTES    90
SNOW               90
SNOW_ATTRIBUTES    90
SNWD               90
SNWD_ATTRIBUTES    90
TAVG               90
TAVG_ATTRIBUTES    90
TMAX               90
TMAX_ATTRIBUTES    90
TMIN               90
TMIN_ATTRIBUTES    90
WDF2               90
WDF2_ATTRIBUTES    90
WDF5               90
WDF5_ATTRIBUTES    90
WESD                0
WESD_ATTRIBUTES     0
WSF2               90
WSF2_ATTRIBUTES    90
WSF5               90
WSF5_ATTRIBUTES    90
WT01               27
WT01_ATTRIBUTES    27
WT02                6
WT02_ATTRIBUTES     6
WT03                2
WT03_ATTRIBUTES     2
WT04                3
WT04_ATTRIBUTES     3
WT06                2
WT06_ATTRIBUTES     2
WT08                5
WT08_ATTRIBUTES     5
WT09                0
WT09_ATTRIBUTES     0
dtype: int64

In [48]:
# 17 get the frequency distributions for name (NAME)
df["NAME"].value_counts()

WASHINGTON REAGAN NATIONAL AIRPORT, VA US    90
Name: NAME, dtype: int64

In [62]:
# 18 get descriptive statistics for preciptation
df["PRCP"].describe()

count    90.000000
mean      0.073556
std       0.190046
min       0.000000
25%       0.000000
50%       0.000000
75%       0.020000
max       0.960000
Name: PRCP, dtype: float64

In [56]:
# 19 get the sum for precipitation (PRCP)
df["PRCP"].sum()

6.62

## Summarize trip data

In [57]:
# 20 get a count of number of non-missing values for trip data
dft.count()

Duration                6083
Start date              6083
End date                6083
Start station number    6083
Start station           6083
End station number      6083
End station             6083
Bike number             6082
Member Type             6082
dtype: int64

In [58]:
# 21 get frequency distribution for Start station
dft["Start date"].value_counts()

3/30/2017 18:24    26
3/30/2017 18:45    24
3/30/2017 18:38    23
3/30/2017 18:18    22
3/30/2017 18:39    22
                   ..
3/31/2017 7:22      1
3/31/2017 2:16      1
3/31/2017 21:16     1
3/31/2017 7:47      1
3/31/2017 20:24     1
Name: Start date, Length: 1289, dtype: int64

In [60]:
# 22 get descriptive statistics for all columns
dft.describe(include="all")

            Duration       Start date  ... Bike number  Member Type
count   6.083000e+03             6083  ...        6082         6082
unique           NaN             1289  ...        1931            2
top              NaN  3/30/2017 18:24  ...      W01307   Registered
freq             NaN               26  ...          14         5316
mean    8.487410e+05              NaN  ...         NaN          NaN
std     1.882986e+06              NaN  ...         NaN          NaN
min     6.249300e+04              NaN  ...         NaN          NaN
25%     3.418500e+05              NaN  ...         NaN          NaN
50%     5.655410e+05              NaN  ...         NaN          NaN
75%     9.248295e+05              NaN  ...         NaN          NaN
max     8.299059e+07              NaN  ...         NaN          NaN

[11 rows x 9 columns]

In [63]:
# 23 get mode of end station
dft["End station"].mode()

0    Columbus Circle / Union Station
dtype: object

Questions to think about
- Are there any missing values for precipitation? For start station? How do you know? 
- Does the mean of Start station number make any sense?