# Lab 5 Data Structures

Skills
- reading xml
- reading json
- sql

Extra Modules
- json

Resources
- https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.io.json.json_normalize.html
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html
- https://docs.python.org/2/library/xml.etree.elementtree.html

In [1]:
# import modules
import pandas as pd
import numpy as np

from pandas.io.json import json_normalize #special package in pandas
import json
import sqlite3
try: # This is not needed as starting with Python 3.3 the C version is used by default
    import xml.etree.cElementTree as ET
except ImportError:
    import xml.etree.ElementTree as ET

from google.colab import files
uploaded = files.upload()

Saving ebay.dtd to ebay.dtd
Saving ebay.xml to ebay.xml
Saving worldcup.teams.json to worldcup.teams.json
Saving worldcup.json to worldcup.json

# Part A: Reading json

In [2]:
# example JSON
players = '[{"name":"Gazinsky","team":"Russia"},{"name":"Dzyuba","team":"Russia"},{"name":"Lukaku","team":"Belgium"}]'
stadium_data = '{"stadiums":[{"name": "Ekaterinburg Arena","city": "Ekaterinburg"},{"name": "Luzhniki Stadium","city": "Moscow"},{"name": "Nizhny Novgorod Stadium","city": "Nizhny Novgorod"}]}'

In [12]:
# load players string as a json object
players_json = json.loads(players)
# print dictionary of second player only
print(players_json[1]["name"])

Dzyuba

In [15]:
# load stadium_data as a json object
stadium_data_json = json.loads(stadium_data)
# print city of Luzhniki Stadium
print(stadium_data_json["stadiums"][1]["city"])

Moscow

In [32]:
# read world cup match data from the json file into a json object
f = open("worldcup.json")
match_data_json = json.load(f)
# print the day of the month of the first match
print(match_data_json["rounds"][0]["matches"][0]["date"])

2018-06-14

In [35]:
# read world cup team data from the json file into json object
h = open("worldcup.teams.json")
team_data_json = json.load(h)
# print the name of the first team in the team data set
print(team_data_json["teams"][0]["assoc"]["continental"]["name"])

Confédération Africaine de Football (CAF)

In [39]:
# create a list of python json objects with soccer associations and continents
# 'association' and 'continent' should be the keys with the following values
#
# Union of European Football Associations - Europe
# Asian Football Confederation - Asia
# Confederation Africaine de Football - Africa
soccer_list = '[{"association" : "Union of European Football Associations", "continent" : "Europe"}, {"association" : "Asian Football Confederation", "continent" : "Asia"}, {"association" : "Confederation Africaine de Football", "continent" : "Africa"}]'
# save the soccer associations as a json string (HINT - str) into a variable named soccerAssoc
soccerAssoc = json.loads(soccer_list)

# Part B: Flattening json

In [42]:
# flatten the player data set into a DataFrame
players_df = json_normalize(players_json)
# print first few rows of data set
players_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

       name     team
0  Gazinsky   Russia
1    Dzyuba   Russia
2    Lukaku  Belgium

In [43]:
# flatten the stadium data set into a DataFrame
stadium_df = json_normalize(stadium_data_json, record_path="stadiums")
# print first few rows of data set
stadium_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                      name             city
0       Ekaterinburg Arena     Ekaterinburg
1         Luzhniki Stadium           Moscow
2  Nizhny Novgorod Stadium  Nizhny Novgorod

In [61]:
# flatten the match data set  into a DataFrame
match_df = json_normalize(match_data_json['rounds'], record_path='matches')
# print number of rows
print(match_df.shape)
# print first few rows of data set
match_df.head()

(64, 23)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

   num        date   time  score1  ...  score2et  score1p  score2p knockout
0    1  2018-06-14  18:00       5  ...       NaN      NaN      NaN      NaN
1    2  2018-06-15  17:00       0  ...       NaN      NaN      NaN      NaN
2    3  2018-06-15  21:00       3  ...       NaN      NaN      NaN      NaN
3    4  2018-06-15  18:00       0  ...       NaN      NaN      NaN      NaN
4    5  2018-06-16  13:00       2  ...       NaN      NaN      NaN      NaN

[5 rows x 23 columns]

In [57]:
# flatten team data set into a DataFrame
team_df = json_normalize(team_data_json['teams'])
# print first few rows of data set
team_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

      name  ... assoc.continental.code
0    Egypt  ...                    CAF
1  Morocco  ...                    CAF
2  Tunisia  ...                    CAF
3  Senegal  ...                    CAF
4  Nigeria  ...                    CAF

[5 rows x 7 columns]

In [62]:
# flatten the association data set into a DataFrame
soccer_df = json_normalize(soccerAssoc)
# print first few rows of data set
soccer_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                               association continent
0  Union of European Football Associations    Europe
1             Asian Football Confederation      Asia
2      Confederation Africaine de Football    Africa

# Part C: XML

In [ ]:
# convert the players json into an XML string (by hand) 
<?xml version="1.0" ?>
<players>
  <player>
    <name>Gazinsky</name>
    <team>Russia</team>
  </player>
  <player>
    <name>Dzyuba</name>
    <team>Russia</team>
  </player>
  <player>
    <name>Lukaku</name>
    <team>Belgium</team>
  </player>
</players>

In [ ]:
# convert the stadium json into an XML string (by hand)
<?xml version="1.0" ?>
<stadiums>
  <stadium>
    <name>Ekaterinburg Arena</name>
    <city>Ekaterinburg</city>
  </stadium>
  <stadium>
    <name>Luzhniki Stadium</name>
    <city>Moscow</city>
  </stadium>
  <stadium>
    <name>Nizhny Novgorod Stadium</name>
    <city>Nizhny Novgorod</city>
  </stadium>
</stadiums>

In [ ]:
# write a string with an XML DTD corresponding to the players XML
"<!DOCTYPE players [ <!ELEMENT players (player, name, team)> <!ELEMENT player (#PCDATA)> <!ELEMENT name (#PCDATA)> <!ELEMENT team (#PCDATA)>]>"

In [ ]:
# write a string with an XML DTD corresponding to the stadiums XML
"<!DOCTYPE stadiums [ <!ELEMENT stadium (name, city)> <!ELEMENT name (#PCDATA)> <!ELEMENT city (#PCDATA)>]>"

In [71]:
# read in file ebay.xml as an element tree
ebay_etree = ET.parse('ebay.xml')
ebay_eroot = ebay_etree.getroot()

# print element tree object
print(ebay_etree)

<xml.etree.ElementTree.ElementTree object at 0x7fde45538b90>

In [ ]:
# print the main contents (may have multiple for loops here, 3 levels...or better yet, recursion)

In [ ]:
# validate the ebay.xml with the ebay.dtd
from lxml import etree

def validate(xml_path: str, dtd_path: str) -> bool:

    parser = etree.XMLParser(dtd_validation=True)
    dtd = etree.DTD(open(dtd_path))
    tree = etree.parse(xml_path)

    valid = dtd.validate(tree)

    return valid


if validate("ebay.xml", "ebay.dtd"):
    print('Valid')
else:
    print('Invalid')

# Part D: SQL

In [72]:
# create a database and sql connection 
sql_connect = sqlite3.connect('lab5.db')

In [73]:
# save the players data set as a sql table
players_df.to_sql("Players", sql_connect)

In [74]:
# save the stadiums data set as a sql table
stadium_df.to_sql("Stadiums", sql_connect)

In [ ]:
# save the match data set as a sql table
# HINT: You'll need to flatten stadium, team1, team2 and you can ignore goals1, goals2

In [ ]:
# save the teams data set as a sql table
# HINT: You can remove the association variable

In [ ]:
# select only those rows that Mexico played and write to a data frame
# HINT: You'll need to use the WHERE to select the right rows


# count the number of rows in the data frame


# write the first few rows of the data frame

In [ ]:
# select only those rows that were ties
# HINT: By tie it means that score1 is the same as score2


# count the number of rows in the data frame


# write the first few rows of the data frame